@charset "UTF-8";

body {
    background: rgba(42, 42, 241, 0.712);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.336);
}

footer {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}